<div class="container">
  <form>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="email">Email</label>
        <input type="email" class="form-control " name="email" id="email" placeholder="Email" [(ngModel)]="email" required>
      </div>

    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="firstname">First Name</label>
        <input #name="ngModel" type="text" class="form-control" name="firstname" id="firstname" placeholder="First Name" [(ngModel)]="firstname" required>
        <div *ngIf="name.invalid && (name.dirty || name.touched)"
             class="alert alert-danger">

          <div *ngIf="name.errors.required">
            Name is required.
          </div>

        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="lastname">Last Name</label>
        <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Last Name" [(ngModel)]="lastname" required>
      </div>

    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="phonenumber">Phone Number</label>
        <input type="number" class="form-control" id="phonenumber" placeholder="Phone Number" name="phonenumber" [(ngModel)]="phonenumber" required>
      </div>
      <div class="form-group col-md-6">
        <label for="businessname">Business Name</label>
        <input type="text" class="form-control" name="businessname" id="businessname" placeholder="Business Name" [(ngModel)]="businessname" required>
      </div>


    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="locationbusiness">Location of your business</label>
        <input type="text" class="form-control" id="locationbusiness" name="locationbusiness" [(ngModel)]="locationbusiness" placeholder="Location of your business" required>
      </div>
      <div class="form-group col-md-6">
        <label for="companywebsite">Company Website</label>
        <input type="text" class="form-control" id="companywebsite" name="companywebsite " [(ngModel)]="companywebsite" placeholder="Company Website" >
      </div>


    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="tellaboutbusiness">Tell us more about your Business</label>
        <input type="text" class="form-control" id="tellaboutbusiness" name="tellaboutbusiness" [(ngModel)]="tellaboutbusiness" placeholder="Tell us more about your Business" required>
      </div>
      <div class="form-group col-md-6">
        <legend>Probability of using the e-Mal Merchant wallet app for your Business?</legend>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [(ngModel)]="inlineRadioOptions" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">1</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [(ngModel)]="inlineRadioOptions" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">2</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [(ngModel)]="inlineRadioOptions" name="inlineRadioOptions" id="inlineRadio3" value="option3">
          <label class="form-check-label" for="inlineRadio3">3 </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [(ngModel)]="inlineRadioOptions" name="inlineRadioOptions" id="inlineRadio4" value="option4" >
          <label class="form-check-label" for="inlineRadio4">4 </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [(ngModel)]="inlineRadioOptions" name="inlineRadioOptions" id="inlineRadio5" value="option5" >
          <label class="form-check-label" for="inlineRadio5">5 </label>
        </div>
      </div>


    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="additionaldetail">Any additional questions/details</label>
        <input type="text "  class="form-control" id="additionaldetail" name="additionaldetail" [(ngModel)]="additionaldetail" placeholder="Any additional questions/details" >
      </div>



    </div>
    <div class="row" *ngIf="errors" style="background: lightcoral"  >
      <p>please enter all required fields </p>
    </div>
    <div class="form-group col-md-12">
      <button type="submit" (click)="onSubmit()"   class="btn btn-primary">Sign in</button>
    </div>

  </form>
</div>

